@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


::selection
{
  background-color: black;
  color: white;
}

body
{
    padding: 0px;
    margin: 0px;
}

*
{
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar
{
    width: 5px;
    background-color: #111;

}
body::-webkit-scrollbar-thumb
{
    background-color: rgb(133, 132, 130);
    
}

nav{
    text-align: center;
}
.ul-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .li-1 {
    float: left;
  }
  
  .li-1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  
  .li-1 a:hover {
    background-color: #111;
  }
  .container
  {
      width: 100%;
      background-image: url(img/buildings-1851246_1920.jpg);
     
      height: 550px;
      background-repeat: no-repeat;
      background-size: cover;
   
      z-index: 1;
  }
 
 
  .container .centralizar {
padding-top: 200px ;
z-index: 1000;
filter: none;
  }
  .container .centralizar h1
  {
    padding: 0px;
    margin: 0px;
    color: white;
font-weight: 900; 
text-align: center;
font-size: 3em;
letter-spacing: 10px;
filter: none;
background: rgba(0, 0, 0, 0.308);
  }
  .container .centralizar p
  {
    padding: 0px;
    margin: 0px;
    color: white;
font-weight: 200; 
text-align: center;
font-size: 2em;
letter-spacing: 10px;
filter: none;
background: rgba(0, 0, 0, 0.308);
  }


  .container-2
  {
      text-align: center;
  }
  .container-2 h2
  {
      font-size: 2.5em;
      letter-spacing: 2px;
  }

  .container-2 .row
  {
    display: flex;
    width: 100%;
    
  }
  .container-2 .row .col-1
  {
      width:33% ;
  }
  .container-2 .row .col-2
  {
      width:33% ;
  }
  .container-2 .row .col-3
  {
      width:33% ;
  }
  .container-2 .row .col-1 img:hover
  {
    box-shadow: 0px 15px 45px rgba(0,0,0,0.3);
    transition: 1s;
    background-color: #060406a1;
    z-index: 10000;
    filter: brightness(0.5);
  }

  
  
  .container-2 .row .col-2 img:hover
  {
    box-shadow: 0px 15px 45px rgba(0,0,0,0.3);
    transition: 1s;
    background-color: #060406a1;
    z-index: 10000;
    filter: brightness(0.5);
  }
  .container-2 .row .col-3 img:hover
  {
    box-shadow: 0px 15px 45px rgba(0,0,0,0.3);
    transition: 1s;
    background-color: #060406a1;
    z-index: 10000;
    filter: brightness(0.5);  
  }
  .container-2 .parrafo
  {
    padding: 5%;
    text-align: center;
    width: 90%;
  }
  .container-2 #texto1
  {
    display: none;
  }
 










  footer
  {
    background-color: black;

  }
  footer .row{
    width: 100%;
  }
  footer .row .col-1
  {
    color: white;
    padding: 10px;
  }
.row1
{
  width: 100%;
  display: flex;
  margin: 0px;
}
.row1 .col-1
{
  width: 50%;
  margin: 0px;
}

.row1 .col-1 video
  {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .row1 .col-2 
  {
width: 50%;
  }
  .row1 .col-2 p 
  {
    padding :20px;
  }






  .row3
  {
    width: 100%;
    display: flex;
    margin: 0px;
  }
.row3 .col1
{
  width: 33%;
}
.row3 .col1 img
{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  
}
.row3 .col2
{
  width: 33%;
}
.row3 .col2 img
{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  
}
.row3 .col3 
{
  width: 34%;
} 
.row3 .col3 img
{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  
}

.row3 .col1 img:hover{
  box-shadow: inset 0px 15px 45px rgba(0,0,0,0.3);
}

.container-3
{
  width: 100%;
  
}
.container-3 h1
{
  text-align: center;
  font-size: 2em;
      letter-spacing: 2px;
      font-weight: 500;
}

.container-3 .row 
{
  width: 100%;
  display: flex;
}
.container-3 .carosel .row .col-1 
{
 width: 33%;
 padding: 30px;
 position: relative;
}
.container-3 .carosel .row .col-2
{
 width: 33%;
 padding: 30px;
 position: relative;
}
.container-3 .carosel .row .col-3 
{
 width: 33%;
 padding: 30px;
 position: relative;
}
.container-3 .carosel .row .col-1 img
{
 width: 90%;
}
.container-3 .carosel .row .col-2 img
{
 width: 90%;
}
.container-3 .carosel .row .col-3 img
{
 width: 90%;
}
.container-3 .carosel .row .col-1 .link
{
  background-color: rgba(0, 0, 0, 0.568);
  padding: 20px;
  width: 68%;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 175px;
  display: none;
  transition: 5s;
  cursor: pointer;
  
}
.container-3 .carosel .row .col-1 .link a
{
  
  color: white;
  text-decoration: none;
  
  
}
 .carosel .row .col-1:hover > .link{
  display: block;
 
  
}
.container-3 .carosel .row .col-2 .link
{
  background-color: rgba(0, 0, 0, 0.568);
  padding: 20px;
  width: 68%;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 175px;
  display: none;
  transition: 5s;
  cursor: pointer;
  
  
}
.container-3 .carosel .row .col-2 .link a
{
  
  color: white;
  text-decoration: none;
  
  
}
 .carosel .row .col-2:hover > .link{
  display: block;
 
  
}


.carosel .row .col-1:hover > .link{
  display: block;
 
  
}
.container-3 .carosel .row .col-3 .link
{
  background-color: rgba(0, 0, 0, 0.568);
  padding: 20px;
  width: 68%;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 175px;
  display: none;
  transition: 5s;
  cursor: pointer;
  
}
.container-3 .carosel .row .col-3 .link a
{
  
  color: white;
  text-decoration: none;
  
  
}
 .carosel .row .col-3:hover > .link{
  display: block;
 
  
}
.parrafo
{
  display: block;
  position: relative !important;
  text-align: left;
 
}
.parrafo-text
{
  width: 90%;
 
}
.cont-t
{
  display: none;
}
.cont-t.active
{
  display: block;
  animation: 1.4s cajita forwards;
}
.cont-t-2
{
  display: none;
}
.cont-t-2.active
{
  display: block;
  animation: 1.4s cajita forwards;
}
.cont-t-3
{
  display: none;
}
.cont-t-3.active
{
  display: block;
  animation: 1.4s cajita forwards;
}

@keyframes cajita
{
  0%
  {
    transform: translateY(100px);
    opacity: 0;
  }
}

.container-5
{
  width: 100%;
  background-color: #060406;
  position: relative;
}
.container-5 video{
  width: 100%;
  height: 450px;
}
.tittle
{
  color: white;
  
  top: 0;
  left: 0;
  font-weight: 900;
  font-size: 4em;
  margin-left: 20px;
}
.tittle2
{
  color: white;
  
  top: 0;
  left: 0;
  font-weight: 900;
  font-size: 2em;
  margin-left: 20px;
}
.container-5 .row-3
{
  width: 100%;
  display: flex ;
  position: absolute;
  z-index: 1000;
  
  
}
.container-5 .row-3 .col-1{
  width: 50%;
}
.container-5 .row-3 .col-2
{
  width: 50%;
}
 input[type="text"]
{
  width: 80%;
    height: 30px;
    font-size: 1.2em;
    background-color:#202020;
    color: #b8b2b2;
    
    margin: 10px;
    border: 1px solid;
    outline: none;
}
input[type="password"]
{
  width: 80%;
    height: 30px;
    font-size: 1.2em;
    background-color:#202020;
    color: #b8b2b2;
    
    margin: 10px;
    border: 1px solid;
    outline: none;
}
textarea  
{
  width: 80%;
  height: 100px;
  font-size: 1.2em;
  background-color: #202020;
  color: #b8b2b2;
  
  margin: 10px;
  border: 1px solid;
    outline: none;
}
input[type="button"]
{
  width: 50%;
  height: 50px;
  font-size: 1.2em;
  background-color: #ffffff;
  color: black;
  
  margin: 10px;
  cursor: pointer;
  
  
}
input[type="button"]:hover
{
  width: 50%;
  height: 50px;
  font-size: 1.2em;
  background-color: #0000;
  color: white;
  border-radius: 10px;
  margin: 10px;
  transition: 1s;
}

.button-arriba
{
  width: 2%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.452);
  font-size: 3em;
  padding: 0px 10px 0px 13px;
  /* border-radius: 48px; */
  text-align: justify;
  /* border: 1px solid white; */
  color: white;
  top: 80%;
  left: 95%;
  z-index: 1000000;
  cursor: pointer;
  height: 50px;
}
.button-arriba:hover{
  background-color: rgba(255, 0, 0, 0.452);
  color: white;
  transition: 1s;
}


/***   404  **/
.fondo
{
  background-image: url(img/error-404.jpg);
  width: 100%;
  height: 575px;
}
.atras
{
  font-size: 3em;
    text-decoration: none;
    font-weight: 900;
    color: white;
    animation: 1s texto infinite;
}
@keyframes texto
{
  0%
  {
    transform: translateX(-1000px);
  }
}